*

.*

!.gitignore

!.npmignore

!.npmrc

!.editorconfig

!.prettierrc

!LICENSE

!*.sh
!*.json
!*.md
!*.txt
!*.xml
!*.list
!*.yaml
!*.template
!*.configure
!*.dockerfile
!*.sample

!*.js
!*.jsx
!*.ts
!*.tsx
!*.mjs
!*.html
!*.css

!*.ico
!*.jpg
!*.jpeg
!*.png
!*.gif
!*.svg

!*/

!*/.gitignore

!*/.npmignore

!*/.npmrc

!*/.editorconfig

!*/.prettierrc

!*/LICENSE

!*/*.sh
!*/*.json
!*/*.md
!*/*.txt
!*/*.xml
!*/*.list
!*/*.yaml
!*/*.template
!*/*.configure
!*/*.dockerfile
!*/*.sample

!*/*.js
!*/*.jsx
!*/*.ts
!*/*.tsx
!*/*.mjs
!*/*.html
!*/*.css

!*/*.ico
!*/*.jpg
!*/*.jpeg
!*/*.png
!*/*.gif
!*/*.svg

grass/*
grass/**/*.*
!grass/*.gpg
!grass/**/*.gpg

package-lock.json

sample/*.*
!sample/*.ts

node_modules
node_modules/**/*.*

build
build/**/*.*

