<section class="external-system-view">
	<cdk-accordion class="external-system-list">
		@for (externalSystemData of externalSystemList; track externalSystemData; let index =
		$index) {
		<cdk-accordion-item
			#accordionItem="cdkAccordionItem"
			class="external-system-item"
			role="button"
			tabindex="0"
			[attr.id]="'external-system-item-header-' + index"
			[attr.aria-expanded]="accordionItem.expanded"
			[attr.aria-controls]="'external-system-item-form-' + index"
		>
			<div class="example-accordion-item-header" (click)="accordionItem.toggle()">
				{{ externalSystemData.name }}
				<button
					mat-icon-button
					aria-label="Expand"
					[hidden]="accordionItem.opened ? 'hidden' : ''"
				>
					<mat-icon>keyboard_arrow_down</mat-icon>
				</button>
				<button
					mat-icon-button
					aria-label="Expand"
					[hidden]="accordionItem.closed ? 'hidden' : ''"
				>
					<mat-icon>keyboard_arrow_up</mat-icon>
				</button>
			</div>
			<div
				class="external-system-item-form"
				role="region"
				[style.display]="accordionItem.expanded ? '' : 'none'"
				[attr.id]="'external-system-item-form-' + index"
				[attr.aria-labelledby]="'external-system-item-header-' + index"
			>
				Test
			</div>
		</cdk-accordion-item>
		}
	</cdk-accordion>
</section>
